<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users Table</h1>
<br/><br/>
<a href="http://localhost:8080/users/add_User">Add User</a>
<br/><br>
<a href="http://localhost:8080/users/change_User">Change User</a>
<br/><br>
<a href="http://localhost:8080/users/remove_User">Remove User</a>
<br/><br>
<div>
    <table border="2">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        <tr>
        </thead>
        <tbody>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.firstName}">...</td>
            <td th:utext="${user.lastName}">...</td>
            <td th:utext="${user.age}">...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>